@import "tailwindcss";



@theme {
  --color-brand-primary: var(--primary);
  --color-brand-secondary: var(--secondary);
  --color-ui-bg: var(--bg-main);
  --color-ui-text: var(--text-main);
  --color-sign-in-bg: var(--sign-in-bg);
  --color-ui-text-secondary: var(--text-secondary);
  --color-input-bg: var(--bg-input);
  --color-input-bg-hover: var(--bg-input-hover);
  --color-border-color: var(--border-color);
  --color-separator: var(--separator);
  --color-error: var(--error);
  --color-success: var(--success);
  --color-info: var(--info);
  --color-warning: var(--warning);
  --color-toast: var(--toast);

}

/* 2. Definimos los valores por defecto (Tema Light) */
:root {
  --primary: #0c7e7e;
  --secondary: #0c7e7e;
  --bg-main: #ffffff;
  --text-main: #1f2937;
  --text-secondary: #38414e;
  --sign-in-bg: #aba6f5;
  --bg-input: #f3f4f6;
  --bg-input-hover: #e5e7eb;
  --border-color: #cacaca;
  --separator: #d8d0d0;
  --error: #ef4444;
  --success: #10b981;
  --info: #3b82f6;
  --warning: #f59e0b;
  --toast: #2b2b2b;
  --shadow-border: #e5e7eb;
}

/* 3. Tema Dark (el estándar) */
@media (prefers-color-scheme: dark) {
  :root {
    --bg-main: #1a2336;
    --text-main: #f9fafb;
    --sign-in-bg: #0c1a0a;
    --text-secondary: #bdc0c7;
    --bg-input: #364153;
    --bg-input-hover: #475569;
    --border-color: #1a1a1a;
    --separator: #5d5d66;
  }
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUp {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.animate-slideDown {
  animation: slideDown 0.3s ease-out forwards;
}

.animate-slideUp {
  animation: slideUp 0.3s ease-in forwards;
}